html {
  min-height: 100%;
  background-repeat: no-repeat;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(140deg, #537895, #09203f, #58357b);
  background-size: 600% 600%;
  animation: AnimationName 40s ease infinite;
  color: #FAFAF2;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 74%;
  }
  50% {
    background-position: 100% 27%;
  }
  100% {
    background-position: 0% 74%;
  }
}
.container {
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(247, 247, 242, 0.1);
}

.nav-row {
  float: right;
  padding-top: 10px;
}

.nav-btn {
  width: auto;
  margin: 0 10px 0 10px;
}

.container {
  margin-top: 30px;
}

.product {
  width: 100%;
}

.product-type {
  width: 100%;
}

.product-box {
  border-style: solid;
  margin: 20px 10px 20px 10px;
}

.product-contents {
  margin: auto;
  margin-bottom: 30px;
}

.input-row {
  margin-bottom: 30px;
}

.input-checkbox {
  margin: 20px 0 0 20px;
}

/*# sourceMappingURL=style.css.map */
